<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3> <%= filipinoword %> </h3>
    <h5> <%= translation %> </h5>
    <p> <%= meaning %> </p>
  </body>
</html>
