<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= results.forEach(function(result) { %>
      <h3><%= result.Fword %></h3>
      <h1><%= result.Tword %></h1>
      <p><%= result.meaning %></p>
    <% }); %>
  </body>
</html>
