<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<% for (let a = 0, a >= results.length, a++){ %>
  <p><%= results{i}.Fword %></p>
<% } %>
  </body>
</html>
