<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/write-post" method="post">
      <label for="">word</label>
      <input type="text" name="filipinoWord" placeholder="word">
      <label for="">translation</label>
      <input type="text" name="Transword" placeholder="translation">
      <label for="">word</label>
      <input type="text" name="meaning" placeholder="meaning">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
